# Data Wrangling in R

In [1]:
install.packages("vembedr")
library("vembedr")
embed_vimeo("649259759")

The downloaded binary packages are in
	/var/folders/wk/6why77bn1kn0l0pkd4vd3zl00000gn/T//RtmpSnFOCl/downloaded_packages

Shiny tags cannot be represented in plain text (need html)

https://vimeo.com/649259759

In [2]:
# Install packages
install.packages("tidyverse")

The downloaded binary packages are in
	/var/folders/wk/6why77bn1kn0l0pkd4vd3zl00000gn/T//RtmplUKyrS/downloaded_packages

In [3]:
# Load library
library(tidyverse)

── Attaching packages ─────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
# Show working directory
getwd()

[1] "/Users/dannylumian/Documents/GitHub/DS-Student-Resources/DS104-Data-Wrangling-and-Visualization/Workshops/01-Data-Wrangling-in-R"

In [11]:
#volcanoes.csv
volcanoes = read.csv('../../Data/volcanoes.csv')
head(volcanoes)

  volcano_number volcano_name    eruption_number eruption_start_year
1 210020         Chaine des Puys 10011           -4040
2 210020         Chaine des Puys 10011           -4040
3 210020         Chaine des Puys 10011           -4040
4 210020         Chaine des Puys 10011           -4040
5 210020         Chaine des Puys 10011           -4040
6 210020         Chaine des Puys 10011           -4040
  event_number event_type            event_remarks event_date_year
1 100001       Explosion             NA            NA
2 100002       Scoria                NA            NA
3 100003       Pyroclastic flow      NA            NA
4 100004       Lava flow(s)          NA            NA
5 100005       Cinder cone formation NA            NA
6 100006       Pumice                NA            NA
  event_date_month event_date_day
1 NA               NA
2 NA               NA
3 NA               NA
4 NA               NA
5 NA               NA
6 NA               NA

In [12]:
# View unique values in event_type
unique(volcanoes$event_type)

 [1] "Explosion"                           "Scoria"
 [3] "Pyroclastic flow"                    "Lava flow(s)"
 [5] "Cinder cone formation"               "Pumice"
 [7] "Flames"                              "Phreatic activity"
 [9] "Ash"                                 "Lapilli"
[11] "Lahar or mudflow"                    "Bombs"
[13] "Lava dome formation"                 "Phreatomagmatic eruption"
[15] "Property damage"                     "Earthquakes (undefined)"
[17] "Blocks"                              "Lava lake"
[19] "Fatalities"                          "Evacuations"
[21] "Lava fountains"                      "Tsunami"
[23] "Caldera formation"                   "Eruption cloud"
[25] "Seismicity (volcanic)"               "Partial collapse at end of eruption"
[27] "Volcanic tremor"                     "Debris avalanches"
[29] "Deformation (inflation)"             "Deformation (deflation)"
[31] "Loud audible noises"                 "Deformation (undefined)"
[33] "Glow"                                "Fauna kill"
[35] "Edifice destroyed"                   "Lightning"
[37] "Tephra"                              "Crater formation"
[39] "Island formation"                    "Spine formation"
[41] "Earthquake (tectonic)"               "Directed explosion"
[43] "Mud"                                 "Fumarolic or solfataric"
[45] "Volcanic smoke"                      "Liquid sulfur"
[47] "Jokulhaup"                           "Fissure formation"
[49] "Water fountain"                      "Thermal anomaly"
[51] "VEI (Explosivity Index)"             "Observation"
[53] "Degassing"                           "Ash Plume"
[55] "Ashfall"                             "Incandescent ejecta"

In [13]:
# View first 5 unique values in volcano name
unique(volcanoes$volcano_name)[0:5]

[1] "Chaine des Puys"          "Calatrava Volcanic Field"
[3] "Vulsini"                  "Colli Albani"
[5] "Campi Flegrei"

In [14]:
# Min and max of volcano number
min(volcanoes$volcano_number)
max(volcanoes$volcano_number)

[1] 210010

[1] 600000

In [15]:
# Add Columns
volcanoes$ErruptionYN = "Y"

In [16]:
#notice the new ErruptionYN column
head(volcanoes)

  volcano_number volcano_name    eruption_number eruption_start_year
1 210020         Chaine des Puys 10011           -4040
2 210020         Chaine des Puys 10011           -4040
3 210020         Chaine des Puys 10011           -4040
4 210020         Chaine des Puys 10011           -4040
5 210020         Chaine des Puys 10011           -4040
6 210020         Chaine des Puys 10011           -4040
  event_number event_type            event_remarks event_date_year
1 100001       Explosion             NA            NA
2 100002       Scoria                NA            NA
3 100003       Pyroclastic flow      NA            NA
4 100004       Lava flow(s)          NA            NA
5 100005       Cinder cone formation NA            NA
6 100006       Pumice                NA            NA
  event_date_month event_date_day ErruptionYN
1 NA               NA             Y
2 NA               NA             Y
3 NA               NA             Y
4 NA               NA             Y
5 NA               NA             Y
6 NA               NA             Y

In [10]:
# Rename Columns notice the renaming of event_remarks to Notes
names(volcanoes)[names(volcanoes) == "event_remarks"] <- "Notes"
head(volcanoes)

  volcano_number volcano_name    eruption_number eruption_start_year
1 210020         Chaine des Puys 10011           -4040
2 210020         Chaine des Puys 10011           -4040
3 210020         Chaine des Puys 10011           -4040
4 210020         Chaine des Puys 10011           -4040
5 210020         Chaine des Puys 10011           -4040
6 210020         Chaine des Puys 10011           -4040
  event_number event_type            Notes event_date_year event_date_month
1 100001       Explosion             NA    NA              NA
2 100002       Scoria                NA    NA              NA
3 100003       Pyroclastic flow      NA    NA              NA
4 100004       Lava flow(s)          NA    NA              NA
5 100005       Cinder cone formation NA    NA              NA
6 100006       Pumice                NA    NA              NA
  event_date_day ErruptionYN
1 NA             Y
2 NA             Y
3 NA             Y
4 NA             Y
5 NA             Y
6 NA             Y

In [8]:
# Combine Columns, notice how we combined volcano_name with event_type into the new column name called NameType
# https://www.rdocumentation.org/packages/tidyr/versions/0.8.3/topics/unite
volcanoes1 <- unite(volcanoes, NameType, volcano_name, event_type, sep = ",") 
head(volcanoes1)

  volcano_number NameType                              eruption_number
1 210020         Chaine des Puys,Explosion             10011
2 210020         Chaine des Puys,Scoria                10011
3 210020         Chaine des Puys,Pyroclastic flow      10011
4 210020         Chaine des Puys,Lava flow(s)          10011
5 210020         Chaine des Puys,Cinder cone formation 10011
6 210020         Chaine des Puys,Pumice                10011
  eruption_start_year event_number Notes event_date_year event_date_month
1 -4040               100001       NA    NA              NA
2 -4040               100002       NA    NA              NA
3 -4040               100003       NA    NA              NA
4 -4040               100004       NA    NA              NA
5 -4040               100005       NA    NA              NA
6 -4040               100006       NA    NA              NA
  event_date_day ErruptionYN
1 NA             Y
2 NA             Y
3 NA             Y
4 NA             Y
5 NA             Y
6 NA             Y

In [9]:
# Separate Columns, notice how we are separating the NameType into 2 new columns called Name and Type
# https://www.rdocumentation.org/packages/tidyr/versions/1.1.4/topics/separate
volcanoes2 <- separate(volcanoes1, NameType, c("Name", "Type"), sep=",")
head(volcanoes2)

Warning message:
“Expected 2 pieces. Additional pieces discarded in 2060 rows [1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, ...].”

  volcano_number Name            Type                  eruption_number
1 210020         Chaine des Puys Explosion             10011
2 210020         Chaine des Puys Scoria                10011
3 210020         Chaine des Puys Pyroclastic flow      10011
4 210020         Chaine des Puys Lava flow(s)          10011
5 210020         Chaine des Puys Cinder cone formation 10011
6 210020         Chaine des Puys Pumice                10011
  eruption_start_year event_number Notes event_date_year event_date_month
1 -4040               100001       NA    NA              NA
2 -4040               100002       NA    NA              NA
3 -4040               100003       NA    NA              NA
4 -4040               100004       NA    NA              NA
5 -4040               100005       NA    NA              NA
6 -4040               100006       NA    NA              NA
  event_date_day ErruptionYN
1 NA             Y
2 NA             Y
3 NA             Y
4 NA             Y
5 NA             Y
6 NA             Y

In [10]:
# Subset Data - keep only the first two rows of data
volcanoes3 <- volcanoes2[1:2,]
head(volcanoes3)

  volcano_number Name            Type      eruption_number eruption_start_year
1 210020         Chaine des Puys Explosion 10011           -4040
2 210020         Chaine des Puys Scoria    10011           -4040
  event_number Notes event_date_year event_date_month event_date_day
1 100001       NA    NA              NA               NA
2 100002       NA    NA              NA               NA
  ErruptionYN
1 Y
2 Y

In [11]:
# Subset by keeping columns
volcanoes4 <- volcanoes3 %>% select(Name, Type)
head(volcanoes4)

  Name            Type
1 Chaine des Puys Explosion
2 Chaine des Puys Scoria

In [12]:
head(volcanoes)

  volcano_number volcano_name    eruption_number eruption_start_year
1 210020         Chaine des Puys 10011           -4040
2 210020         Chaine des Puys 10011           -4040
3 210020         Chaine des Puys 10011           -4040
4 210020         Chaine des Puys 10011           -4040
5 210020         Chaine des Puys 10011           -4040
6 210020         Chaine des Puys 10011           -4040
  event_number event_type            Notes event_date_year event_date_month
1 100001       Explosion             NA    NA              NA
2 100002       Scoria                NA    NA              NA
3 100003       Pyroclastic flow      NA    NA              NA
4 100004       Lava flow(s)          NA    NA              NA
5 100005       Cinder cone formation NA    NA              NA
6 100006       Pumice                NA    NA              NA
  event_date_day ErruptionYN
1 NA             Y
2 NA             Y
3 NA             Y
4 NA             Y
5 NA             Y
6 NA             Y